nav {
  display: flex;
  gap: 0.5rem;
}
div   {
  padding-left: 5rem;
  text-wrap: wrap;
  max-width: 70%;
}

a {
  flex: 1;
  background-color: #333;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover,
a:focus {
  background-color: #fff;
  color: #333;
}

.row-1 {
  display: flex;
}

.row-1 > * {
  margin: 2rem;
}

.circle {
  height: 15vw;
  width: 15vh;
  border-radius: 100%; 
  background-color: red;
  opacity: 1;
  transition: opacity 1s 0.1s;
}

.circle:hover {
  opacity: 0.5;
}

.square {
  height: 100px;
  width: 100px;
  background-color: #0000ff;
  transition:
   width 2s,
   height 2s,
   backgroudn-color 2s,
   rotate 2s;
}

.square:hover {
  background-color: #ffcccc;
  width: 90px;
  height: 150px;
  rotate: 90deg;
}

.row-2 > div {
  font-size: 1.6rem;
  padding: 20px;
  border: 3px solid red;
  border-radius: 20px;
  width: 480px;

  display: none;
  opacity: 0; 
   transition: opacity 1s;
  transition: display 1s allow-discrete;
  /* Equivalent to
  transition: all 1s allow-discrete; */
}

.showing {
  display: block !important;
  opacity: 1 !important;
}

@starting-style {
  .showing {
    opacity: 0;
  }
}

span {
  height: 10rem;
  font-size:xx-large;
  border-radius: 5px;
  background-color: orange;
  color: black;
}

code {
  height: 7rem;
  font-size: x-large;
  background-color: grey;
  border-radius: 72px;
}

.ball {
  height: 10vw;
  width: 10vh;
  background-color: green;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
}


/**************************************************/
/* PAGE 2 */
/**************************************************/

.blue-box {
  height: 150px;
  width: 150px;
  background-color: #0000aa;
  position: relative;
  top: 10vh;
  left: 30vw;
  border-radius: 15px;
}

.animate {
  animation: slide-in 0.7s both;
}

@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}

.spin {
  animation: turn 0.7s both;
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}